@page "/add-supplier"
@using Milkman2.Features.Suppliers
@inject SupplierService SupplierService

<div class="card shadow-sm border-0 mb-4">
    <div class="card-body">
        <EditForm Model="model" OnValidSubmit="SaveAsync">
            <DataAnnotationsValidator />
            <ValidationSummary />
                <div class="mb-2">
                    <label>Name</label>
                    <InputText class="form-control" @bind-Value="model.Name" />
                </div>

                <div class="mb-2">
                    <label>Contact Number</label>
                    <InputText class="form-control" @bind-Value="model.ContactNumber" />
                </div>

            <button class="btn btn-success">
                Save
            </button>

            <button type="button" class="btn btn-secondary ms-2" @onclick="Cancel">
                Cancel
            </button>
        </EditForm>
    </div>
</div>
@code {
    [Parameter]
    public EventCallback OnSupplierAdded { get; set; }
    [Parameter]
    public EventCallback<bool> OnLoadingChanged { get; set; }

    private SupplierViewModel model = new();

    private async Task SaveAsync()
    {
        await OnLoadingChanged.InvokeAsync(true);
        await SupplierService.AddAsync(model);
        await OnLoadingChanged.InvokeAsync(false);
        await OnSupplierAdded.InvokeAsync();
        model = new();
    }

    private void Cancel()
    {
        model = new();
    }
}
